<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Cliente</title>
</head>
<body>
    <h1>Alterar Cliente</h1>
    <form class="form-control" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Dados do Cliente</legend>
            {{ clientes_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Endereços</legend>
            {{ endereco_formset.management_form }}
            {% for form in endereco_formset %}
                {{ form.as_p }}
            {% endfor %}
        </fieldset>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="{% url 'conectapsiApp:listarclientes' %}">Voltar à lista de clientes</a>
</body>
</html>
