<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentos | ConectaPSI</title>
</head>
<body>
<h1>Sistema de Gerenciamento de Consultório</h1>
<ul>
    <li><a href="{% url 'conectapsi:home' %}">Home</a></li>
    <li><a href="{% url 'conectapsi:cadastroclientes' %}">Cadastrar Clientes</a></li>
    <li><a href="{% url 'conectapsi:documentos' %}">Documentos</a></li>
    <li><a href="#">Prontuário</a></li>
    <li><a href="#">Lançamentos</a></li>

</ul>
<div>
    <h2><a href="{% url 'conectapsi:anamnese' %}">Anamnese</a></h2>
</div>



</body>
</html>